<div id="users-show">
  <h1>Timeline for <%= link_to '@' + @user.username, 'https://twitter.com/' + @user.username, :target => 'blank' %></h1>

  <% @tweets.each do |tweet| %>
  <% if tweet['user']['protected'] == false || tweet['user'] == current_user.username%>
  <div class="tweet">
    <div class="text">
      <%= tweet['text'] %>
    </div>
    <div class="user">
      tweet by <%= tweet['user']['screen_name'] %>
    </div>
    <div class="time">
      <%= tweet['created_at'].to_date %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
